.sidebar {
  display: flex;
  justify-content: center;
  background-color: rgb(251, 201, 44);
  font-family: "Roboto", sans-serif;
  margin-right: -2rem;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 4rem;
}

.navTitles {
  font-size: 22px;
  font-weight: 700;
  color: #0f194d;
  position: relative;
}

.arrowDown {
  position: absolute;
  right: -70px;
  top: 0px;
}

.arrowDown:hover {
  color: #8f8fc6;
}
.navTitles:hover {
  color: #8f8fc6;
}

.ulItems {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-weight: 500;
  margin-top: 1.1rem;
  margin-left: 1.5rem;
}

.ulItems li:hover {
  color: #8f8fc6;
  cursor: pointer;
}
