.articleImg {
  height: 500px;
  width: 500px;
  object-fit: cover;
  border: 3px solid black;
  border-radius: 20px;
  background-color: rgb(252, 249, 239);
}

.figure {
  position: relative;
  margin-top: 20px;
}
.articleCard {
  justify-self: center;
}

.articleHeader {
  position: absolute;
  top: -45px;
  left: 0;
  font-size: 27px;
  color: rgb(36, 36, 36);
}

.articleHeaderCategory {
  display: inline-block;
}

.articleHeaderCategory::first-letter {
  text-transform: uppercase;
}

.title {
  font-size: 25px;
}

.articleContainer {
  font-family: "Roboto", sans-serif;
  display: grid;
  background-color: rgb(251, 201, 44);
  height: 100%;
  width: 100vw;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  padding: 4rem 15rem 4rem 15rem;
}

.articleInfo {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  font-size: 1.3rem;
  padding: 3rem;
  gap: 2rem;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 15px;
  background-color: rgb(252, 249, 239);
  box-shadow:
    1rem 1rem 0 #6a6ac8,
    1rem 1rem 0 3px #000;
}

.price {
  font-weight: 700;
}

form {
  display: flex;
  gap: 30px;
}
.inputContainer {
  display: flex;
}

.inputContainer button {
  width: 50px;
  background-color: white;
  font-size: 2rem;
  cursor: pointer;
}

.minusBtn {
  border-right: none;
}

.plusBtn {
  border-left: none;
}

.plusBtn:hover,
.minusBtn:hover {
  color: #6a6ac8;
}

.input {
  width: 50px;

  text-align: center;
  border-right: none;
  border-left: none;
  border-color: black;
}

.addToCartBtn {
  width: 250px;
  justify-self: center;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 800;
  cursor: pointer;
  padding: 0.5rem;
  background-color: rgb(251, 201, 44);
}

.addToCartBtn:hover {
  color: rgb(251, 201, 44);
  background-color: black;
}

@media screen and (max-width: 1800px) {
  .articleImg {
    height: 450px;
    width: 450px;
  }
}

@media screen and (max-width: 1500px) {
  .articleContainer {
    padding: 5rem 6rem 5rem 6rem;
  }
}

@media screen and (max-width: 1230px) {
  .articleImg {
    height: 400px;
    width: 400px;
  }
  .articleContainer {
    padding: 5rem;
  }
}

@media screen and (max-width: 1150px) {
  .articleImg {
    justify-self: center;
    height: 358px;
    width: 358px;
  }

  .figure {
    justify-self: start;
    padding-left: 3rem;
  }

  .articleContainer {
    padding: 2rem 4rem 2rem 2rem;
  }
  .articleInfo {
    max-width: 500px;
    justify-self: center;
    font-size: 1rem;
    margin-right: 10px;
  }
  .addToCartBtn {
    width: 150px;
    font-size: 18px;
  }

  .articleHeader {
    padding-left: 3rem;
    top: -75px;
    font-size: 25px;
  }
}

@media screen and (max-width: 950px) {
  .articleImg {
    justify-self: center;
    grid-row: 1/2;
    height: 300px;
    width: 300px;
  }
  .articleContainer {
    padding: 3rem 0rem;
    grid-template-columns: 1fr;
    grid-template-rows: 0.95fr 1fr;
  }
  .articleInfo {
    grid-row: 2/3;
    max-width: 500px;
    justify-self: center;
    font-size: 1rem;
    padding: 2rem;
    margin-bottom: 2rem;
    gap: 1rem;
  }

  .figure {
    justify-self: center;
    padding-left: 0px;
  }

  .articleHeader {
    top: -35px;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 21px;
    padding-left: 0px;
  }
}

@media screen and (max-width: 700px) {
  .articleInfo {
    width: 70%;
  }
}

@media screen and (max-width: 570px) {
  .articleImg {
    height: 280px;
    width: 280px;
  }
  .articleContainer {
    padding: 0rem;
  }

  .articleInfo {
    grid-row: 2/3;
    width: 80%;
    justify-self: center;
    font-size: 0.9rem;
    padding: 1.5rem;
    margin-bottom: 2rem;
    gap: 1rem;
  }
  form {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .price {
    text-align: center;
    font-size: 1.1rem;
  }

  .title {
    text-align: center;
  }
}
