.header {
  position: absolute;
  left: 130px;
  top: 31px;
  font-size: 2.2rem;
  color: rgb(28, 28, 28);
}

.logo {
  position: absolute;
  height: 100px;
  width: auto;
  top: 8px;
  left: 25px;
}

.outerLayout {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 120px 1fr 70px;
}

.navbar {
  display: flex;
  position: relative;
  justify-content: center;
  font-size: 26px;
  font-weight: 700;
  background-color: rgb(251, 201, 44);
  font-family: "Roboto", sans-serif;
}

.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 4rem;
}

.navbar ul a {
  text-decoration: none;
  color: #0f194d;
}

.navbar ul li a:hover {
  color: #8f8fc6;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  font-size: 16px;
  background-color: #010110;
}

.footerSectionLinks ul {
  list-style: none;
  line-height: 2rem;
}
