.outerLayout {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 100px 1fr 100px;
}

.navbar {
  display: flex;
  justify-content: center;
  font-size: 24px;
  font-weight: 700;
  background-color: rgb(0, 21, 44);
  font-family: "Roboto", sans-serif;
}

.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 6rem;
}

.navbar ul a {
  text-decoration: none;
  color: white;
}

.navbar ul li a:hover {
  color: #cac9c9;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  font-size: 16px;
  background-color: rgb(0, 21, 44);
}

.footerSectionLinks ul {
  list-style: none;
  line-height: 2rem;
}
