.outerLayout {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 100px 1fr 155px;
}

.navbar {
  display: flex;
  justify-content: center;
  font-size: 22px;
  background-color: rgb(230, 230, 230);
}

.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 6rem;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  font-size: 16px;
  background-color: rgb(230, 230, 230);
}

.footerSectionLinks ul {
  list-style: none;
  line-height: 2rem;
}
