.header {
  position: absolute;
  left: 130px;
  top: 31px;
  font-size: 2.2rem;
  color: rgb(28, 28, 28);
}

.logo {
  position: absolute;
  height: 100px;
  width: auto;
  top: 8px;
  left: 25px;
}

.outerLayout {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 120px 1fr 70px;
}

.navbar {
  display: flex;
  position: relative;
  justify-content: center;
  font-size: 26px;
  font-weight: 700;
  background-color: rgb(251, 201, 44);
  font-family: "Roboto", sans-serif;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 4rem;
}

.navbar ul a {
  text-decoration: none;
  color: #0f194d;
}

.navbar ul li a:hover {
  color: #6a6ac8;
  padding-bottom: 3px;
  border-bottom: 4px solid #6a6ac8;
}

.toCart {
  position: absolute;
  height: 50px;
  width: 50px;
  right: 10px;
  top: 40px;
}

.toCart:hover {
  color: #6a6ac8;
  cursor: pointer;
}

.toCart span {
  position: absolute;
  font-size: 1.2rem;
  top: -20px;
  left: 13px;
  color: #6a6ac8;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  font-size: 18px;
  background-color: #010110;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.footerSectionLinks ul {
  list-style: none;
  line-height: 2rem;
}

.sidebarMobileOpen {
  filter: brightness(0.7);
}

@media screen and (max-width: 1000px) {
  .header {
    left: 80px;
    top: 38px;
    font-size: 1.8rem;
  }

  .logo {
    height: 80px;
    top: 18px;
    left: 5px;
  }

  .navbar ul {
    gap: 2rem;
  }

  .navbar {
    font-size: 22px;
  }
}

@media screen and (max-width: 700px) {
  .header {
    left: 80px;
    top: 38px;
    font-size: 0rem;
  }

  .logo {
    height: 80px;
    top: 18px;
    left: 5px;
  }

  .navbar ul {
    gap: 2rem;
  }

  .navbar {
    font-size: 22px;
  }
}

@media screen and (max-width: 500px) {
  .header {
    left: 80px;
    top: 38px;
    font-size: 0rem;
  }

  .logo {
    height: 80px;
    top: 18px;
    left: 5px;
  }

  .navbar ul {
    gap: 1.2rem;
  }

  .navbar {
    font-size: 22px;
  }
}
