.main {
  background-color: rgb(251, 201, 44);
  font-family: "Roboto", sans-serif;
}

.outerLayout {
  background-color: rgb(251, 201, 44);
  display: flex;
  justify-content: space-around;
  margin: 5rem 5rem;
}

.shoppingBag {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 3rem;
}

.shoppingBag.withBorder {
  border: 3px solid black;
  border-radius: 5px;
  box-shadow:
    1rem 1rem 0 #8e8edb,
    1rem 1rem 0 3px #000;
}

.orderSummary {
  display: flex;
  align-self: start;
  max-height: 400px;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  border: 3px solid black;
  border-radius: 5px;
  padding: 3rem 6rem;
  background-color: rgb(253, 253, 253);
}
