.main {
  background-color: rgb(251, 201, 44);
  font-family: "Roboto", sans-serif;
}

.outerLayout {
  background-color: rgb(251, 201, 44);
  display: flex;
  justify-content: space-around;
  margin: 80px 3rem;
}

.shoppingBag {
  display: flex;
  position: relative;
  width: 55%;
  min-width: 720px;
  min-height: 130px;
  flex-direction: column;
  justify-content: center;
  padding: 3rem;
  background-color: rgb(252, 249, 239);
  border: 3px solid black;
  border-radius: 15px;
  gap: 50px;
  box-shadow:
    1rem 1rem 0 #6a6ac8,
    1rem 1rem 0 3px #000;
}

.cartHeader {
  position: absolute;
  top: -45px;
  left: 0;
  font-size: 1.5rem;
}
.orderSummary {
  display: flex;
  align-self: start;
  max-height: 400px;
  flex-direction: column;
  justify-content: center;
  gap: 2.5rem;
  border: 3px solid black;
  border-radius: 15px;
  padding: 3rem 6rem;
  background-color: rgb(252, 249, 239);
  box-shadow:
    1rem 1rem 0 #6a6ac8,
    1rem 1rem 0 3px #000;
}

.emptyBag {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
}

@media screen and (max-width: 1350px) {
  .orderSummary {
    display: flex;
    align-self: start;
    max-height: 400px;
    gap: 2.5rem;
    padding: 3rem 2.5rem;
    background-color: rgb(252, 249, 239);
  }
}

@media screen and (max-width: 1250px) {
  .outerLayout {
    display: grid;
    gap: 3.5rem;
  }

  .shoppingBag {
    display: flex;
    position: relative;
    min-width: 820px;
    flex-direction: column;
    justify-content: center;
    padding: 3rem;
    background-color: rgb(252, 249, 239);
  }
}

@media screen and (max-width: 925px) {
  .shoppingBag {
    min-width: 620px;
  }

  .orderSummary {
    display: flex;
    width: 620px;
  }

  .emptyBag {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 725px) {
  .shoppingBag {
    min-width: 520px;
    padding: 2rem;
  }

  .orderSummary {
    display: flex;
    width: 520px;
  }

  .emptyBag {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 630px) {
  .shoppingBag {
    min-width: 420px;
    justify-self: center;
  }

  .orderSummary {
    width: 420px;
    justify-self: center;
  }

  .outerLayout {
    margin: 80px 0rem;
  }
}
@media screen and (max-width: 500px) {
  .shoppingBag {
    min-width: 350px;
  }

  .orderSummary {
    width: 350px;
  }
}

@media screen and (max-width: 430px) {
  .shoppingBag {
    min-width: unset;
    padding: 1rem;
    width: 84%;
  }

  .orderSummary {
    width: 84%;
  }
}
