.article {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.image {
  height: 150px;
  background-color: rgb(255, 255, 255);
  border: 3px solid black;
}

.inputContainer {
  display: flex;
}

.inputContainer button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: white;
  font-size: 2rem;
  cursor: pointer;
}

.minusBtn {
  border-right: none;
}

.plusBtn {
  border-left: none;
}

.input {
  width: 50px;
  height: 50px;
  text-align: center;
  border-right: none;
  border-left: none;
  border-color: black;
}
