.article {
  display: flex;
  min-width: 770px;
  align-items: center;
  justify-content: space-around;
  gap: 60px;
}

.image {
  height: 150px;
  background-color: rgb(255, 255, 255);
  border: 3px solid black;
}

.name {
 width: 120px;
 text-align: center;
}

.inputContainer {
  display: flex;
}

.inputContainer button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: white;
  font-size: 2rem;
  cursor: pointer;
}

.minusBtn {
  border-right: none;
}

.plusBtn {
  border-left: none;
}

.plusBtn:hover,
.minusBtn:hover {
  color: #8e8edb;
}

.input {
  width: 50px;
  height: 50px;
  font-weight: 700;
  font-size: 1.1rem;
  text-align: center;
  border-right: none;
  border-left: none;
  border-color: black;
}

.deleteBtn {
  background-color: white;
  width: 50px;
  height: 50px;
}

.deleteBtn:hover {
  cursor: pointer;
  color: rgb(202, 2, 2);
}

.price {
  font-size: 20px;
  font-weight: 900;
  color: #0f194d;
}
