.article {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 25px;
}

.image {
  height: 150px;
  background-color: rgb(255, 255, 255);
  border: 3px solid black;
}

.name {
  width: 120px;
  text-align: center;
}

.inputContainer {
  display: flex;
}

.inputContainer button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: white;
  font-size: 2rem;
  cursor: pointer;
}

.minusBtn {
  border-right: none;
}

.plusBtn {
  border-left: none;
}

.plusBtn:hover,
.minusBtn:hover {
  color: #6a6ac8;
}

.input {
  width: 50px;
  height: 50px;
  font-weight: 700;
  font-size: 1.1rem;
  text-align: center;
  border-right: none;
  border-left: none;
  border-color: black;
}

.deleteBtn {
  background-color: white;
  min-width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.deleteBtn svg {
  min-width: 40px;
  min-height: 40px;
}

.deleteBtn:hover {
  cursor: pointer;
  color: rgb(202, 2, 2);
}

.price {
  font-size: 1.4rem;
  font-weight: 700;
  text-align: center;
  width: 72px;
}

@media screen and (max-width: 925px) {
  .article {
    gap: 0px;
  }

  .image {
    height: 100px;
  }

  .name {
    width: 100px;
    font-size: 1.2rem;
  }

  .inputContainer button {
    width: 40px;
    height: 40px;
    font-size: 2rem;
  }

  .input {
    width: 40px;
    height: 40px;
    font-size: 1rem;
  }

  .deleteBtn {
    min-width: 40px;
    height: 40px;
  }

  .deleteBtn svg {
    min-width: 30px;
    min-height: 30px;
  }

  .price {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 725px) {
  .article {
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem;
  }

  .image {
    height: 90px;
  }

  .name {
    width: 90px;
    font-size: 1.1rem;
  }

  .inputContainer button {
    width: 40px;
    height: 40px;
    font-size: 2rem;
  }

  .input {
    width: 40px;
    height: 40px;
    font-size: 1rem;
  }

  .deleteBtn {
    min-width: 40px;
    height: 40px;
  }

  .deleteBtn svg {
    min-width: 30px;
    min-height: 30px;
  }

  .price {
    font-size: 1.1rem;
  }
}
