.main {
  background-color: rgb(251, 201, 44);
}

.cardArea {
  height: 90%;
  width: 100%;
  min-height: 650px;
  padding: 6vh 4vw 0vh 4vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: start;
  gap: 2rem;
  animation: popIn 0.5s ease-out forwards;
}

.pagination {
  display: flex;
  font-family: "Roboto", sans-serif;
  justify-content: center;
  gap: 8px;
  margin: 15px;
}

.pageButton {
  background-color: #eee;
  border: none;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 6px;
  font-weight: 500;
  transition: background-color 0.2s ease;
}

.pageButton:hover {
  background-color: #ddd;
}

.activePageButton {
  background-color: #282888;
  border: none;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 6px;
  font-weight: 500;
  color: white;
}
