.outerLayout {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../../assets/OIG2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.welcome {
  font-family: "Roboto", sans-serif;
  color: rgb(2, 2, 2);
  width: 430px;
  padding: 3.3rem;
  position: absolute;
  left: 200px;
  border: 4px solid rgb(0, 0, 0);
  border-radius: 8px;
  background-color: rgb(252, 249, 239);
  box-shadow:
    1rem 1rem 0 #8e8edb,
    1rem 1rem 0 3px #000;
}

.welcome h2 {
  font-size: 48px;
  padding-bottom: 1.5rem;
  font-weight: 900;
  line-height: 115%;
}

.welcome p {
  text-align: justify;
  font-size: 25px;
  font-weight: 500;
}

.btnContainer {
  display: flex;
  justify-content: center;
  padding-top: 2.5rem;
}
.buyBtn {
  width: 200px;
  justify-self: center;
  border-radius: 5px;
  font-size: 27px;
  font-weight: 800;
  cursor: pointer;
  padding: 0.5rem;
  transition: all 0.2s ease;
  border: 3px solid black;
  background-color: rgb(251, 201, 44);
}

.buyBtn:hover {
  background-color: black;
  color: rgb(251, 201, 44);
}

@media screen and (max-width: 1350px) {
  .welcome {
    left: 100px;
  }
}

@media screen and (max-width: 1000px) {
  .welcome {
    left: 50px;
  }
}

@media screen and (max-width: 700px) {
  .welcome {
    left: 50px;
    width: 400px;
  }

  .welcome h2 {
    font-size: 40px;
    line-height: 120%;
  }

  .welcome p {
    font-size: 20px;
    font-weight: 500;
  }

  .buyBtn {
    width: 200px;
    font-size: 22px;
  }
}

@media screen and (max-width: 700px) {
  .welcome {
    left: 50%;
    transform: translateX(-50%);
    width: 330px;
  }

  .welcome h2 {
    font-size: 30px;
    line-height: 120%;
  }

  .welcome p {
    font-size: 18px;
    font-weight: 500;
  }

  .buyBtn {
    width: 180px;
    font-size: 18px;
  }
}
