.outerLayout {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../../assets/OIG2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.welcome {
  font-family: "Roboto", sans-serif;
  color: rgb(2, 2, 2);
  width: 430px;
  padding: 3.3rem;
  margin: 5rem 65rem 5rem 5rem;
  border: 4px solid rgb(0, 0, 0);
  border-radius: 8px;
}

.welcome h2 {
  font-size: 48px;
  padding-bottom: 1.5rem;
  font-weight: 900;
  line-height: 115%;
}

.welcome p {
  text-align: justify;
  font-size: 25px;
  font-weight: 500;
}

.btnContainer {
  display: flex;
  justify-content: center;
  padding-top: 2.5rem;
}
.buyBtn {
  width: 200px;
  justify-self: center;
  border-radius: 10px;
  font-size: 27px;
  font-weight: 800;
  cursor: pointer;
  padding: 0.5rem;
}

.buyBtn:hover {
  background-color: black;
  color: white;
}
