.outerLayout {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../../assets/OIG2.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.welcome {
  font-size: 40px;
  font-weight: 800;
  color: white;
  padding: 10rem;
  text-align: center;
}
