.title {
  font-size: 18px;
}

.articleCard {
  height: 290px;
  width: 290px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 40px;
  padding: 10px;
  text-align: center;
}

.articleImg {
  height: 200px;
  width: 200px;
}

.price {
  font-weight: 700;
  font-size: 20px;
}
