.title {
  font-size: 18px;
}

.articleCard {
  height: 290px;
  width: 290px;
  display: flex;
  font-family: "Roboto", sans-serif;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s ease;
  background-color: rgb(251, 244, 219);
}

.articleCard:hover {
  box-shadow:
    0.5rem 0.5rem 0 #8f8fc6,
    0.5rem 0.5rem 0 3px #000;
  -webkit-transform: translate(-0.5rem, -0.5rem);
  transform: translate(-0.5rem, -0.5rem);
}

.articleCard h2 {
  font-size: 20px;
  font-weight: 900;
  padding-top: 5px;
  color: #0f194d;
}

.articleImg {
  height: 180px;
  width: 180px;
}

.price {
  font-weight: 900;
  font-size: 21px;
  width: 100%;
  border-top: 3px solid rgb(0, 0, 0);
  padding-top: 10px;
  color: #0f194d;
}
