.title {
  font-size: 18px;
}

.articleCard {
  height: 290px;
  width: 290px;
  display: flex;
  font-family: "Roboto", sans-serif;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid white;
  border-radius: 7px;
  padding: 10px;
  text-align: center;
}

.articleCard h2 {
  font-size: 20px;
  font-weight: 900;
  padding-top: 5px;
}

.articleImg {
  height: 200px;
  width: 200px;
}

.price {
  font-weight: 700;
  font-size: 20px;
  width: 100%;
  border-top: 3px solid white;
  padding-top: 5px;
}
